{#
    This file is part of the
    Infeap Data Manager (https://www.infeap.org/data-manager)
    open source project.

    @copyright   2018-2020 Tobias Krebs and the Infeap Team
    @license     https://www.gnu.org/licenses/gpl.html GNU General Public License 3
#}

{% extends "@page/layout/message.twig" %}

{% block message_heading 'error.404.heading'|t %}

{% block message_content %}
    <p>{{ 'error.404.message'|t }}</p>

    <p>{{ 'error.404.causes'|t }}</p>

    <ul>
        <li>{{ 'error.404.causes.1'|t }}</li>
        <li>{{ 'error.404.causes.2'|t }}</li>
        <li>{{ 'error.404.causes.3'|t }}</li>
    </ul>
{% endblock %}
