{#
    This file is part of the
    Infeap Data Manager (https://www.infeap.org/data-manager)
    open source project.

    @copyright   2018-2020 Tobias Krebs and the Infeap Team
    @license     https://www.gnu.org/licenses/gpl.html GNU General Public License 3
#}

{% extends "@page/layout/message.twig" %}

{% block message_symbol %}
    <figure class="-type-symbol text-danger" aria-hidden="true">
        <svg class="bi bi-exclamation-triangle-fill" width="2.5rem" height="2.5rem" viewBox="0 0 16 16" fill="currentColor">
            <path clip-rule="evenodd" fill-rule="evenodd" d="M8.982 1.566a1.13 1.13 0 00-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5a.905.905 0 00-.9.995l.35 3.507a.552.552 0 001.1 0l.35-3.507A.905.905 0 008 5zm.002 6a1 1 0 100 2 1 1 0 000-2z" />
        </svg>
    </figure>
{% endblock %}

{% block message_heading 'error.label'|trans %}

{% block message_content %}
    <p>{{ 'error.500.message'|trans }}</p>

    <p><strong>{{ error.message }}</strong></p>

    {% if app.config.debug %}
        <hr>

        <p><span class="badge badge-info">{{ 'error.500.debug.heading'|trans }}:</span></p>

        {% macro error_details(error) %}
            <dl>
                <dt>{{ 'error.500.debug.type'|trans }}</dt>
                <dd>{{ error|type }} (Code <code>{{ error.code }}</code>)</dd>

                <dt>{{ 'error.500.debug.file'|trans }}</dt>
                <dd>{{ error.file|replace({(app.dir): ''}) }}<code>:{{ error.line }}</code></dd>

                <dt>Trace</dt>
                <dd class="inf-error-trace">
                    {% for traceItem in error.trace %}
                        <div>{{ traceItem.file|replace({(app.dir): ''}) }}<code>:{{ traceItem.line }}</code></div>
                    {% endfor %}
                </dd>
            </dl>

            {% if error.previous %}
                <hr>

                <p><span class="badge badge-secondary">{{ 'error.500.debug.previous'|trans }}:</span></p>

                <p><b>{{ error.previous.message }}</b></p>

                {{ _self.error_details(error.previous) }}
            {% endif %}
        {% endmacro %}

        {{ _self.error_details(error) }}
    {% endif %}
{% endblock %}

{% block help_search_term error.message %}

{% block foot %}
    {% if app.config.debug %}
        <script src="{{ compiled_js('error') }}"></script>
    {% endif %}
{% endblock %}
