{#
    This file is part of the
    Infeav Data Manager (https://www.infeav.org/data-manager)
    open source project

    @copyright   2018-2020 Tobias Krebs and the Infeav Team
    @license     https://www.gnu.org/licenses/gpl.html GNU General Public License 3
#}

<!doctype html>
<html lang="{{ current_language() }}">
    <head>
        <meta charset="utf-8">
        <meta name="application-name" content="Infeav {{ 'app.name'|trans }}">

        {% if app.config.debug %}
            <meta name="generator" content="Infeav {{ 'app.name'|trans }} {{ app.version.number }} ({{ app.version.branch }})">
        {% else %}
            <meta name="generator" content="Infeav {{ 'app.name'|trans }}">
        {% endif %}

        <meta name="base-path" content="{{ app.base_path }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% if not app.config.develop %}
            <link rel="stylesheet" href="{{ compiled_css('foundation') }}">
        {% endif %}

        <title>{% block title 'Infeav ' ~ 'app.name'|trans %}</title>
    </head>

    <body class="{% block body_class '' %}">
        {% block body '' %}

        <script src="{{ compiled_js('vendors~error~foundation~start') }}"></script>
        <script src="{{ compiled_js('foundation') }}"></script>

        {% block foot '' %}
    </body>
</html>
