{#
    This file is part of the
    Infeap Data Manager (https://www.infeap.org/data-manager)
    open source project

    @copyright   2018-2020 Tobias Krebs and the Infeap Team
    @license     https://www.gnu.org/licenses/gpl.html GNU General Public License 3
#}

{% extends "@page/layout/base.twig" %}

{% block title -%}
    {% if block('message_heading') is defined -%}
        {{ block('message_heading') }} – {{ parent() }}
    {%- else -%}
        {{ parent() }}
    {%- endif %}
{%- endblock %}

{% block body_class 'inf-has-basic-message' %}

{% block body %}
    <article class="inf-basic-message">
        <header>
            <figure>
                <a href="{{ app.base_path }}">
                    <svg id="inf-logo" width="160" height="44" viewBox="0 0 160 44">
                        <title>Infeap</title>
                        <path d="M273.29,246.71h-5.37V214.19h5.37Z" transform="translate(-225.88 -211.94)" />
                        <path d="M284.23,222.54l.14,2.8a8.16,8.16,0,0,1,6.72-3.24q7.2,0,7.33,8.64v16h-5.18V231.05a5.15,5.15,0,0,0-.95-3.4,3.86,3.86,0,0,0-3.1-1.11,5,5,0,0,0-4.67,3v17.2h-5.17V222.54Z" transform="translate(-225.88 -211.94)" />
                        <path d="M305.51,246.71V226.56H302v-4h3.51v-2.21a8.46,8.46,0,0,1,2.14-6.2,7.92,7.92,0,0,1,6-2.19,11.35,11.35,0,0,1,2.9.4l-.13,4.24a9.69,9.69,0,0,0-2-.18c-2.47,0-3.71,1.34-3.71,4v2.14h4.69v4h-4.69v20.15Z" transform="translate(-225.88 -211.94)" />
                        <path d="M328.81,247.16a10.45,10.45,0,0,1-8-3.25,12.12,12.12,0,0,1-3.06-8.66v-.67a15,15,0,0,1,1.33-6.46,10.49,10.49,0,0,1,3.74-4.44,9.6,9.6,0,0,1,5.37-1.58,8.86,8.86,0,0,1,7.28,3.15q2.56,3.15,2.57,8.91v2.19H323a7.37,7.37,0,0,0,1.91,4.73,5.57,5.57,0,0,0,4.2,1.74,6.9,6.9,0,0,0,5.8-3l2.79,2.79A9.49,9.49,0,0,1,334,246,11.15,11.15,0,0,1,328.81,247.16Zm-.62-20.71a4.25,4.25,0,0,0-3.44,1.57,8.31,8.31,0,0,0-1.68,4.35h9.87V232a6.75,6.75,0,0,0-1.38-4.12A4.25,4.25,0,0,0,328.19,226.45Z" transform="translate(-225.88 -211.94)" />
                        <path d="M355.85,246.71a8.47,8.47,0,0,1-.6-2.26,7.86,7.86,0,0,1-6.05,2.71,7.94,7.94,0,0,1-5.67-2.08,6.81,6.81,0,0,1-2.19-5.14,7,7,0,0,1,2.74-5.93q2.73-2.06,7.83-2.06h3.17v-1.59a4.33,4.33,0,0,0-1-3,3.88,3.88,0,0,0-3.05-1.13,4.43,4.43,0,0,0-2.9.93,2.9,2.9,0,0,0-1.12,2.35h-5.18a6.28,6.28,0,0,1,1.25-3.72,8.52,8.52,0,0,1,3.42-2.71,11.68,11.68,0,0,1,4.83-1,9.41,9.41,0,0,1,6.46,2.13,7.78,7.78,0,0,1,2.47,6v10.9a12.93,12.93,0,0,0,.87,5.2v.38Zm-5.69-3.91a5.73,5.73,0,0,0,2.89-.78,5.06,5.06,0,0,0,2-2.1v-4.56h-2.79a7.37,7.37,0,0,0-4.33,1,3.46,3.46,0,0,0-1.44,3,3.22,3.22,0,0,0,1,2.49A3.71,3.71,0,0,0,350.16,242.8Z" transform="translate(-225.88 -211.94)" />
                        <path d="M385.88,234.87q0,5.61-2.43,8.95a8.19,8.19,0,0,1-12.6.72V256h-5.18V222.54h4.78l.21,2.46a7.48,7.48,0,0,1,6.2-2.9,7.76,7.76,0,0,1,6.62,3.29q2.4,3.3,2.4,9.15Zm-5.16-.47a10.44,10.44,0,0,0-1.38-5.74,4.4,4.4,0,0,0-3.93-2.12,4.75,4.75,0,0,0-4.56,2.75V240a4.78,4.78,0,0,0,4.61,2.81,4.4,4.4,0,0,0,3.86-2.08Q380.72,238.64,380.72,234.4Z" transform="translate(-225.88 -211.94)" />
                        <path d="M248.32,224.18c-.16-.19-.27-.07-.37,0L234.77,238c-.1.11-.21.23,0,.4a9.31,9.31,0,0,0,13.43-.17A10.42,10.42,0,0,0,248.32,224.18Z" transform="translate(-225.88 -211.94)" />
                        <path d="M235.28,231.87l-6.38-6.68c-.1-.1-.21-.22-.38,0a10.43,10.43,0,0,0,0,13.89c.17.18.28.07.38,0l6.38-6.68A.35.35,0,0,0,235.28,231.87Z" transform="translate(-225.88 -211.94)" />
                        <path d="M241.19,225.78a4.65,4.65,0,0,0-6.46,0c-.17.17-.06.28,0,.39l3,3.12a.29.29,0,0,0,.42,0l3-3.12C241.25,226.06,241.36,226,241.19,225.78Z" transform="translate(-225.88 -211.94)" />
                    </svg>
                </a>

                <figcaption>{{ 'app.name'|trans }}</figcaption>
            </figure>
        </header>

        <main>
            <section>
                {% block message_symbol '' %}

                {% if block('message_heading') is defined %}
                    <h1>{{ block('message_heading') }}</h1>
                {% endif %}

                {% block message_content '' %}
            </section>
        </main>

        <footer {% if supported_languages()|length > 1 %}class="inf-has-language-picker"{% endif %}>
            {% if supported_languages()|length > 1 %}
                <div class="inf-language-picker">
                    <form>
                        {% for name, value in server_request('query_params') %}
                            {% if name != 'lang' %}
                                <input type="hidden" name="{{ name|e('html_attr') }}" value="{{ value|e('html_attr') }}">
                            {% endif %}
                        {% endfor %}

                        <label for="inf-footer-language-picker-select">
                            <svg width="21" height="24" viewBox="0 0 21 24" fill="currentColor">
                                <title>{{ 'language.label'|trans }}{% if 'language.label'|trans != 'Language' %} / Language{% endif %}</title>
                                <polygon points="14.87 20.96 16.29 23.27 17.04 21.13 14.87 20.96" />
                                <path d="M285.11,326.81c-.05-.05.07.42.24.59a1,1,0,0,0,.67.35,2.3,2.3,0,0,0,.82-.15,1.41,1.41,0,0,0,.68-.52.42.42,0,0,0,.05-.37.24.24,0,0,0-.28-.22,5.71,5.71,0,0,0-.75.18c-.2.06-.61.18-.79.22A1.22,1.22,0,0,1,285.11,326.81Z" transform="translate(-281.44 -318.78)" />
                                <path d="M290.17,332.47c-.08,0-1.71-.7-1.94-.81s-.66-.28-.88-.37c.62-.94,1-1.64,1.06-1.75s.75-1.46.76-1.54a1.55,1.55,0,0,0,0-.43c0-.07-.25.06-.58.17s-.94.51-1.18.56-1,.33-1.4.46-1.13.35-1.44.43-.57.09-.74.14a1,1,0,0,0,.07.31.79.79,0,0,0,.39.29,1.72,1.72,0,0,0,.64,0,1.17,1.17,0,0,0,.42-.2c0-.06,0-.22,0-.27s.81-.22,1.09-.3a13.76,13.76,0,0,1,1.51-.44c-.05.16-.92,1.85-1.2,2.36s-1.9,2.73-2.25,3.12a15.88,15.88,0,0,1-1.12,1.23,1.35,1.35,0,0,0,.52-.06,9,9,0,0,0,1.44-1.46,24.19,24.19,0,0,0,1.83-2.44h0c.1,0,.88.67,1.09.81s1,.58,1.18.66.85.38.87.27A1.59,1.59,0,0,0,290.17,332.47Z" transform="translate(-281.44 -318.78)" />
                                <path d="M286.39,340.87a3.57,3.57,0,0,0,.47.25,9.36,9.36,0,0,0,1.07.47,12.86,12.86,0,0,0,1.46.44c.27.06.56.11.85.15,0,0,.8.09,1,.09H292c.31,0,.6,0,.9-.08s.52-.08.78-.14.39-.08.58-.14l.59-.19.41-.16.38-.16.52-.25.44-.24c.12-.06.38-.26.52-.26a.27.27,0,0,1,.26.26c0,.25-.34.33-.5.44s-.36.19-.54.29a10.35,10.35,0,0,1-1,.46,11.22,11.22,0,0,1-1.37.42l-.5.11c-.08,0-1,.15-1.24.15H291c-.31,0-.63-.06-.93-.1s-.56-.1-.83-.16-.44-.1-.64-.16a8.71,8.71,0,0,1-1-.34,10.24,10.24,0,0,1-1.82-.9.23.23,0,0,1-.11-.22.25.25,0,0,1,.25-.25A1.59,1.59,0,0,1,286.39,340.87Z" transform="translate(-281.44 -318.78)" />
                                <path fill-rule="evenodd" d="M291.46,336,282,339.16V325.34l9.49-3.11Zm.53-14.22v14.43a.22.22,0,0,1-.06.13.18.18,0,0,1-.08.07c-.21.09-10,3.33-10.15,3.33a.26.26,0,0,1-.25-.18s0,0,0,0V325.13a.28.28,0,0,1,.06-.14.54.54,0,0,1,.27-.14c.15-.05,9.8-3.24,9.94-3.24S292,321.67,292,321.82Z" transform="translate(-281.44 -318.78)" />
                                <path fill-rule="evenodd" d="M299.9,336.11l-7.9-2.42V322.05l7.9-2.65Zm.53-17.05v17.37a.28.28,0,0,1-.28.29c-.11,0-.93-.28-1.07-.32l-3.29-1-.73-.23-.65-.19c-.93-.29-1.88-.57-2.81-.88a.38.38,0,0,1-.12-.16V321.8c0-.05,0-.1.08-.13s3.05-1.06,4.23-1.45c.31-.11,4.24-1.44,4.36-1.44A.27.27,0,0,1,300.43,319.06Z" transform="translate(-281.44 -318.78)" />
                                <polygon points="21 20.96 10.45 17.65 10.49 3.21 21 6.5 21 20.96" />
                                <path fill="white" d="M297.12,328.44l-1,2.47,1.91.57Zm-.62-2.33,1.36.41,2.47,8.8-1.39-.42-.51-1.8-2.88-.87-.62,1.48-1.4-.42Z" transform="translate(-281.44 -318.78)" />
                                <path d="M291.48,321.8l0-.08L283.8,319v5.42l7.68-2.52Z" transform="translate(-281.44 -318.78)" />
                            </svg>
                        </label>

                        <select id="inf-footer-language-picker-select" name="lang">
                            {% for supported_language in supported_languages() %}
                                <option value="{{ supported_language }}" {% if supported_language == current_language() %}selected{% endif %}>
                                    {{ supported_language|language_name(supported_language) }}
                                </option>
                            {% endfor %}
                        </select>

                        <button id="inf-footer-language-picker-submit" class="btn btn-link">{{ 'language.change'|trans }}</button>

                        <script>
                            (function () {
                                var submitButton = document.getElementById('inf-footer-language-picker-submit')

                                if (submitButton.classList) {
                                    submitButton.classList.add('sr-only', 'sr-only-focusable')

                                    var languageSelect = document.getElementById('inf-footer-language-picker-select')

                                    languageSelect.addEventListener('change', function () {
                                        submitButton.click()
                                    })
                                }
                            })()
                        </script>
                    </form>
                </div>
            {% endif %}

            <div>
                <a href="{{ 'app.website.url'|trans }}" target="_blank" rel="external noreferrer noopener">Infeap {{ 'app.website.label'|trans }}</a>

                {% if block('help_search_term') is defined %}
                    <a href="{{ 'app.help.url'|trans }}?search={{ block('help_search_term')|unicode_string.words(16)|url_encode }}" target="_blank" rel="external noreferrer noopener">{{ 'app.help.label'|trans }}</a>
                {% elseif block('message_heading') is defined %}
                    <a href="{{ 'app.help.url'|trans }}?search={{ block('message_heading')|unicode_string.words(16)|url_encode }}" target="_blank" rel="external noreferrer noopener">{{ 'app.help.label'|trans }}</a>
                {% else %}
                    <a href="{{ 'app.help.url'|trans }}" target="_blank" rel="external noreferrer noopener">{{ 'app.help.label'|trans }}</a>
                {% endif %}
            </div>
        </footer>
    </article>
{% endblock %}
